

* {
    box-sizing: border-box;
    margin: 3;
    padding: 3;
}

#tecnology h3 {
    color: #000
}

#tecnology h2 {
    color: #000
}

#sport h3 {
    color: blue
}

#sport h2 {
    color: blue
}


#entertaiment h3 {
    color: blue
}

#entertaiment h2 {
    color: blue
}
section {
    padding: 16px 0;
}

section h2 {
    margin-bottom: 16px;
}

header .conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body > header {
    background-color: black;
    padding: 16px 0;
    color: #fff;
}

header li {
    display: inline;
    text-decoration: none;
}

header li a {
    color: #fff;        
    text-decoration: none;
}

.conteiner {
    width: 1366px;
    margin: 0 auto 0 auto;
}

.articles {
    display: flex;
    justify-content: space-between;
}

.articles article img {
    height: 180px;
}

.articles article {
    width: 50%;
}

.articles article a {
    background-color: #000;
    color:aliceblue;
    padding: 6px;
    text-decoration: none;
}

.articles article a:hover {
    text-decoration: underline;
}

#economy {
    background-color: aqua;
}

#tecnology {
    background-color: aqua;
}