

* {
    box-sizing: border-box;
    margin: 3;
    padding: 3;
}

#tecnology h3 {
    color: #000
}

#tecnology h2 {
    color: #000
}

#sport h3 {
    color: blue
}

#sport h2 {
    color: blue
}


#entertaiment h3 {
    color: blue
}

#entertaiment h2 {
    color: blue
}
section {
    padding: 16px 0;
}

section h2 {
    margin-bottom: 16px;
}

header .conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body > header {
    background-color: black;
    padding: 16px 0;
    color: #fff;
}

header li {
    display: inline;
    text-decoration: none;
}

header li a {
    color: #fff;        
    text-decoration: none;
}

.conteiner {
    width: 1366px;
    margin: 0 auto 0 auto;
}

.articles {
    display: flex;
    justify-content: space-between;
}

.articles article img {
    height: 180px;
}

.articles article {
    width: 50%;
}

#economy article a {
    background-color: rgb(29, 15, 224);
    color:aliceblue;
    padding: 6px;
    text-decoration: none;
}

#entertaiment article a {
    background-color: rgb(25, 109, 17);
    color:aliceblue;
    padding: 6px;
    text-decoration: none;
}

#tecnology article a {
    background-color: rgb(63, 7, 7);
    color:aliceblue;
    padding: 6px;
    text-decoration: none;
}

#sport article a {
    background-color: #000;
    color:aliceblue;
    padding: 6px;
    text-decoration: none;
}

.articles article a:hover {
    text-decoration: underline;
}

#economy {
    background-color: aqua;
}

#entertaiment {
    background-color: rgb(125, 168, 154);
}

#tecnology {
    background-color: rgb(125, 148, 148);
}